In [26]:
from sqlalchemy import create_engine
import pandas as pd

In [27]:
engine = create_engine('postgresql://postgres:arielle89@localhost:5432/Team8')

In [28]:
df_test_cleaned = pd.read_sql_query('select * from "test_cleaned"', con=engine)
df_train_cleaned = pd.read_sql_query('select * from "train_cleaned"', con=engine)

In [29]:
df_test_cleaned

,house_id,overallqual,yearbuilt,yearremodadd,masvnrarea,bsmtfinsf1,totalbsmtsf,firstflrsf,secflrsf,grlivarea,fullbath,totrmsabvgrd,fireplaces,garageyrblt,garagecars,garagearea,wooddecksf,openporchsf
0,0,5,1961,1961,0.0,468.0,882.0,896,0,896,1,5,0,1961.0,1.0,730.0,140,0
1,1,6,1958,1958,108.0,923.0,1329.0,1329,0,1329,1,6,0,1958.0,1.0,312.0,393,36
2,2,5,1997,1998,0.0,791.0,928.0,928,701,1629,2,6,1,1997.0,2.0,482.0,212,34
3,3,6,1998,1998,20.0,602.0,926.0,926,678,1604,2,7,1,1998.0,2.0,470.0,360,36
4,4,8,1992,1992,0.0,263.0,1280.0,1280,0,1280,2,5,0,1992.0,2.0,506.0,0,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,4,1970,1970,0.0,0.0,546.0,546,546,1092,1,5,0,1977.7212165097756,0.0,0.0,0,0
1455,1455,4,1970,1970,0.0,252.0,546.0,546,546,1092,1,6,0,1970.0,1.0,286.0,0,24
1456,1456,5,1960,1996,0.0,1224.0,1224.0,1224,0,1224,1,7,1,1960.0,2.0,576.0,474,0
1457,1457,5,1992,1992,0.0,337.0,912.0,970,0,970,1,6,0,1977.7212165097756,0.0,0.0,80,32
1458,1458,7,1993,1994,94.0,758.0,996.0,996,1004,2000,2,9,1,1993.0,3.0,650.0,190,48

In [30]:
df_train_cleaned

,house_id,overallqual,yearbuilt,yearremodadd,masvnrarea,bsmtfinsf1,totalbsmtsf,firstflrsf,secflrsf,grlivarea,fullbath,totrmsabvgrd,fireplaces,garageyrblt,garagecars,garagearea,wooddecksf,openporchsf,saleprice
0,0,7,2003,2003,196.0,706,856,856,854,1710,2,8,0,2003.0,2,548,0,61,208500
1,1,6,1976,1976,0.0,978,1262,1262,0,1262,2,6,1,1976.0,2,460,298,0,181500
2,2,7,2001,2002,162.0,486,920,920,866,1786,2,6,1,2001.0,2,608,0,42,223500
3,3,7,1915,1970,0.0,216,756,961,756,1717,1,7,1,1998.0,3,642,0,35,140000
4,4,8,2000,2000,350.0,655,1145,1145,1053,2198,2,9,1,2000.0,3,836,192,84,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,1455,6,1999,2000,0.0,0,953,953,694,1647,2,7,1,1999.0,2,460,0,40,175000
1454,1456,6,1978,1988,119.0,790,1542,2073,0,2073,2,7,2,1978.0,2,500,349,0,210000
1455,1457,7,1941,2006,0.0,275,1152,1188,1152,2340,2,9,2,1941.0,1,252,0,60,266500
1456,1458,5,1950,1996,0.0,49,1078,1078,0,1078,1,5,0,1950.0,1,240,366,0,142125
1457,1459,5,1965,1965,0.0,830,1256,1256,0,1256,1,6,0,1965.0,1,276,736,68,147500